@import url(./__image/photo-grid__image.css);

.photo-grid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 8px;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1184px;
}

@media (min-width: 375px) {
    .photo-grid {
        grid-gap: 16px;
    }
}
