.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 0 24px 0;
    max-width: 284px;
}

@media (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 26px;
        padding: 0 24px;
        max-width: 382px;
        margin: 0 0 40px 0;
    }
}