.cover__subtitle {
    margin: 0 0 24px 0;
    max-width: 292px;
}

@media (min-width: 768px) {
    .cover__subtitle {
        padding: 0 24px;
        max-width: 438px;
        margin: 0 0 40px 0;
    }
}