.cover__image {
    width: 100%;
    min-height: 216px;
}

@media (min-width: 768px) {
    .cover__image {
        min-height: 500px;
    }
}

@media (min-width: 1280px) {
    .cover__image {
        padding: 0 48px;
        width: calc(100% - 96px);
        max-width: 1184px;
    }
}