.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 64px 0 44px 0;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 78px;
        margin: 164px 0 127px 0;
        padding: 0 24px;
    }
}